<!-- <div class="back-button">
    <a routerLink="/generation"
        routerLinkActive="active">Voltar</a>
</div> -->
<body>
    <div class="pokemon-grid">
        <div class="front-box" *ngFor="let pokemon of listPokemons">
            <img
                [src]="pokemon.sprites['other']['official-artwork']['front_default']" />
            <div class="nameBox">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png" alt="Pokeball" />
                {{
                pokemon.species.name }}
            </div>
            <div class="numberBox">
                N° {{ leadingZero(pokemon.id) }}
                <div class="nameType" *ngFor="let type of pokemon.types"
                    [style.background-color]="getTypeColor(type.type.name)">
                    {{ type.type.name }}
                </div>
            </div>
        </div>
    </div>
</body>
