 <div class="container">
    <div class="yellow-rect"></div><h3 class="selectgen-txt">Selecione a geração</h3>
</div>
<div class="gen-body">
    <div class="gen-boxes">
        <div *ngFor="let generation of listGenerations">
            <div>
                <div class="gen-btns" type="button" #btn1
                    (click)="getElementId(btn1)"
                    [id]="generation.name">
                    {{ romanToNumber(generation.name) }}
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>