/* You can add global styles to this file, and also import other style files */
/* Base */
/* @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: #053364;
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
    background-blend-mode: luminosity;
    flex: 1;
    
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}